.a:hover {
    background-color: yellowgreen;
}
.b:hover {
    background-color: paleturquoise;
}
.c:hover {
    background-color: brown;
}
.d:hover {
    background-color: peru;
}
.e:hover {
    background-color: crimson;
}