.a {
    background-color: aqua;
}
.b {
    background-color: palegreen;
}
.c {
    background-color: peru;
}
.d {
    background-color: powderblue;
}
.e {
    background-color: wheat;
}
.f {
    background-color: lawngreen;
}